{
  "parser": "babel-eslint",
  "extends": [
    "eslint:all",
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "plugin:react/all",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.14"
    }
  },
  "rules": {
    "sort-imports": 0,
    "sort-keys": 0,
    "no-magic-numbers": 0,
    "max-lines-per-function": 0,
    "max-params": 0,
    "func-style": 0,
    "react/jsx-fragments": 0,
    "react/jsx-no-literals": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "id-length": 0,
    "no-alert": 0,
    "no-ternary": 0,
    "line-comment-position": 0,
    "no-inline-comments": 0
  }
}
